body {
	/*display: flex;
	flex-direction: column;*/
	height: 100%;
	align-items: center;
	font-family: arial, helvetica, sans-serif;
	background-color: #46AAFF;
	display: -webkit-flex;
    -webkit-flex-direction: column;
    height: 100%;
}

h1 {
	color: white;
	font-size: 300%;
	margin: 0px;
	text-shadow: 2px 2px 4px #4664FF;
}

.grid {
	display: flex;
	flex-direction: row;
	background-color: yellow;
	border: 2px solid #FFB00D;
	border-radius: 10px;
}

td {
	border: 2px solid #FFB00D;
}

.square {
	border: 3px solid #FFB00D;
	border-radius: 50%;
	margin: 4px;
	height: 75px;
	width: 75px;
	cursor: pointer;
	background-color: #46AAFF;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.black {
	background-color: black;
}

.red {
	background-color: red;
}

.piece {
	height: 75px;
	width: 75px;
	border-radius: 50%;
}

.scoreboard {
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: large;
	padding-bottom: 0;
}

#turn {
	border: 1px solid white;
	background-color: white;
	border-radius: 5px;
	width: 180px;
	margin-right: 60px;
	margin-left: 60px;
}

.playerone {
	border: 1px solid white;
	background-color: black;
	border-radius: 10px;
	color: white;
	margin: 10px;
	padding: 0 25px 0 25px;
	font-size: x-large;
}

.playertwo {
	border: 1px solid white;
	background-color: red;
	border-radius: 10px;
	color: white;
	margin: 10px;
	padding: 0 25px 0 25px;
	font-size: x-large;
}

.btn {
	display: flex;
  	justify-content: center;
  	align-items: center;
  	align-content: center;
  	flex-wrap: wrap;
  	width: 100px;
  	margin: 10px auto;
  	min-height: 30px;
  	cursor: pointer;
}